@charset "UFT-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
body{
    background-image: linear-gradient(to top, #024873, #04B2D9);
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #024873c4;
    width: 600px;
    padding: 15px;
    margin: auto;
}
h1{
    color: #02596d;
    text-align: center;
    text-shadow: 1px 1px 0px #024757c9;
}
h2{
    color: #024873;
}
p{
    text-align: justify;
}